/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use '../styles/assets';

/* ---------------------------------------------
	POST INFO:
  ---------------------------------------------- */

span#project_info {
	color: lighten(assets.$basic-font-color,30%);
	a {
		color: inherit;
	}
}